# Ignore jars and data
/jars/*
!/jars/.gitkeep
/data/*
!/data/.gitkeep
!/data/*/
!/data/**/.gitkeep

# Python cache
__pycache__/
*.pyc

# VSCode & OS stuff
.vscode/
.DS_Store
Thumbs.db

# Docker volumes
*.log
